.content{
    display: flex;
    height: 100vh;
}


div.img {
    background-color: #a5a2a2;
    background-image: url('image2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 100vh;
    background-position: center;
    }


.title{
    position: relative;
    top: 10%;
    color: aliceblue;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-shadow: 4px 4px 8px black;
    font-size: 2rem;
}
.dot {
    position: relative;
    height: 1rem;
    width: 1rem;
    top: -5rem;
    left: 1.5rem;
    background-color:#ca1a21;
    box-shadow:0px 0px 10px #ff552e;
    border-radius: 50%;
    display: inline-block;
  }
  .main{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 70vw;
    background-color: #a5a2a2;
    overflow-y: auto;
  }

  .form {
    border-radius: 25px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem 1rem 3rem;
    background-color: #23252d;

}

  .form-container{
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    background-color: #23252d;
    align-items: center;

  }

.nes-input{
    background-color: #8bac0f;
}
.nes-field{
    color: white;
}
.information-text{
    width: 50%;
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
}
#have-account{
    text-align: center;
}

